<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="agent-suite">
            <directory suffix='.php'>tests/agent/</directory>
            <directory suffix=".php">vendor/</directory>
        </testsuite>
    </testsuites>
</phpunit>
